# dependencies
/node_modules
/functions/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Firebase service account
config/serviceAccountKey.json
config/
functions/serviceAccountKey.json

# debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDE
.idea/
.vscode/

# OS
.DS_Store

# sensitive / cleanup
sensitive-data.txt
bfg-repo-cleaner/
