@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&family=Source+Sans+Pro:wght@300;400;600;700&display=swap');

:root {
  --color-dark-green: #215127;
  --color-light-green: #2a6a33;
  --color-gold: #A67C0D;
  --color-dark-grey: #1f2937;
}

body {
  margin: 0;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(135deg, var(--color-dark-green) 0%, var(--color-light-green) 100%);
  color: #fff;
  min-height: 100vh;
}
